/* Version: 1.0 */

@import url(../vendors/bootstrap-select/bootstrap-select.min.css);

:root {
    --primary: #00296b;
    --secondary: #00509d;
    --tertiary: #ffd500;
	--black: #000000;
	--white: #ffffff;
	--line-1: #ebebeb;
	--line-2: #ececec;
	--bg-1: #fcfbf9;
	--bg-2: #f6f6f6;
	--bg-3: #fcffb2;
	--bg-4: #c9f4aa;
	--bg-5: #ff7b54;
	--bg-6: #8054ff;
	--bg-7: #f1f0ed;
	--bg-8: #f0edf1;
	--bg-9: #edeef1;
	--bg-10: #fcfbf9;
	--bg-11: #f2f2f2;
	--success: #31A56D;
	--bg-load: #d9d9d9;
	--bg-scrollbar-track: #f1f1f1;
	--bg-scrollbar-thumb: #c1c1c1;
    --facebook: rgb(59, 89, 152);
	--twitter: rgb(85, 85, 85);
	--instagram: linear-gradient(#8a3ab9, #e95950, #fccc63);
	--threads: rgb(224, 53, 102);
	--youtube: rgb(205, 32, 31);
	--tiktok: linear-gradient(#25f4ee, #000, #fe2c55);
	--tiktok2: rgb(254, 44, 85);
	--pinterest: rgb(203, 32, 39);
	--tumblr: rgb(55, 69, 92);
	--vimeo: rgb(26, 183, 234);
	--snapchat: rgb(255, 221, 0);
	--whatsapp: rgb(0, 230, 118);
	--linked_in: rgb(23, 106, 255);
	--wechat: rgb(26, 173, 24);
	--reddit: rgb(255, 69, 0);
	--line: rgb(0, 195, 77);
	--spotify: rgb(30, 125, 96);
    --font-family: 'DM Sans';
}

/* Main */

body {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

.box-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
}

.w-28 {
	width: 28px;
	height: 28px;
}

.line {
	border-bottom: 1px solid var(--line-1);
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
	gap: 30px;
}

/* Top Bar */

.top-bar {
    height: 60px;
}

.top-bar .form-select {
    width: unset;
    border: 1px solid transparent;
    padding: 0 2rem 0 0;
}

.top-bar .social-icons .facebook {
    background: var(--facebook);
    color: var(--white);
}

.top-bar .social-icons .twitter {
    background: var(--twitter);
    color: var(--white);
}

.top-bar .social-icons .instagram {
    background: var(--instagram);
    color: var(--white);
}

.top-bar .social-icons .tiktok {
    background: var(--tiktok);
    color: var(--white);
}

.top-bar .social-icons .pinterest {
    background: var(--pinterest);
    color: var(--white);
}

/* Header */

.logo-header img {
	width: 120px;
}

header {
    height: 70px;
}

.header-default .main-menu {
	gap: 22px;
}

.main-menu .item-link {
	font-size: 16px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 7px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
}

.main-menu .item-link .icon {
	font-size: 7px;
}

.main-menu .item-link::before {
	content: "";
	width: 0;
	height: 1px;
	top: 99%;
	position: absolute;
	left: auto;
	right: 0;
	z-index: 1;
	-webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	-o-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	background: var(--main);
}

.main-menu li:hover .item-link::before {
	width: 100%;
	left: 0;
	right: auto;
}

.main-menu .menu-item:hover > .sub-menu {
	pointer-events: all;
	opacity: 1;
	visibility: visible;
	transform: translateX(0px) translateY(0px);
}

.main-menu .menu-item:hover > a::after {
	display: block;
}

.main-menu .menu-item > a::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: calc(100% + 44px);
	height: 94px;
	display: none;
}

.main-menu .menu-item-2 {
	position: relative;
	cursor: pointer;
}

.main-menu .menu-item-2::after {
	position: absolute;
	content: "\e906";
	font-family: "icomoon";
	font-size: 11px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.main-menu .menu-item-2 .sub-menu {
	top: -22px;
	left: calc(100% + 23px);
	min-width: 200px;
}

.main-menu .menu-item-2 .sub-menu::after {
	position: absolute;
	display: block;
	content: "";
	width: 60px;
	height: 45px;
	background-color: transparent;
	left: -18%;
	top: 3px;
}

.main-menu .menu-item-2:hover > .sub-menu {
	pointer-events: all;
	opacity: 1;
	visibility: visible;
	transform: translateX(0px) translateY(0px);
}

.main-menu .sub-menu {
	pointer-events: none;
	position: absolute;
	background-color: var(--white);
	min-width: 268px;
	z-index: 999;
	visibility: hidden;
	text-align: left;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-inline-end: 20px;
	padding-inline-start: 19px;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transform: translateX(0px) translateY(15px);
	box-shadow: 0 4px 8px rgb(235, 235, 235);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.main-menu .mega-menu {
	padding-top: 37px;
	padding-bottom: 42px;
	border: none;
	max-height: calc(100vh - 74px);
	overflow: auto;
	left: 0;
	right: 0;
}

.main-menu .mega-menu .card-product .card-product-wrapper {
	max-height: 290px;
}

.main-menu .mega-menu .wrap-sw-over {
	padding-bottom: 40px;
	margin-bottom: -40px;
}

.main-menu .menu-heading {
	font-size: 12px;
	line-height: 22px;
	font-weight: 700;
	color: var(--main);
	text-transform: uppercase;
	margin-bottom: 17px;
	text-align: start;
}

.main-menu .menu-list .menu-link-text {
	color: var(--text);
}

.main-menu .menu-list li {
	text-align: start;
}

.main-menu .menu-list li:not(:last-child) {
	margin-bottom: 14px;
}

.main-menu .menu-list .demo-label {
	top: -14px;
	right: -35px;
}

.main-menu .submenu-default {
	left: -110px;
}

.mega-menu .row-demo {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 20px;
	row-gap: 25px;
}

.mega-menu .demo-item {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	padding: 6px 7px 0;
	border: solid 1px transparent;
	transition: border 0.4s;
	margin-bottom: 1px;
}

.mega-menu .demo-item .demo-name {
	line-height: 45px;
	display: block;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-weight: 600;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.mega-menu .demo-item .demo-name:hover {
	color: var(--primary);
}

.mega-menu .demo-item:hover {
	border-color: var(--main);
}

.mega-menu .view-all-demo {
	margin-top: 48px;
}

.mega-menu .collection-item .collection-title {
	background-color: #f2f2f2;
	border-radius: 3px;
}

.mega-menu .collection-item .collection-content {
	bottom: 40px;
}

.mega-menu .collection-item .tf-btn .icon {
	margin: 0px;
}

.mega-page {
	max-width: 900px;
	margin: auto;
}

/* Home */

.tf-slideshow {
	overflow: hidden;
    height: calc(100% - 130px);
}

.tf-slideshow .wrap-pagination {
	position: absolute;
	z-index: 10;
	bottom: 20px;
	left: 0;
	right: 0;
}

.tf-slideshow .wrap-pagination .sw-dots {
	margin-top: 0;
}

.tf-slideshow .sw-absolute-3 {
	right: 3%;
	left: unset;
	width: auto;
}

.tf-slideshow .sw-absolute-3 .sw-dots {
	flex-direction: column;
}

.tf-slideshow .card-box {
	padding: 64px 48px 70px;
	border-radius: 10px;
	max-width: 550px;
}

.tf-slideshow .card-box .heading {
	margin-bottom: 38px;
}

.tf-slideshow .subheading {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 22.4px;
}